Repository J1P5/Meerket_FE, pull requests merged in 2024-11, with the labels that each got.

#75 fix: 파일 경로 가져오기 오류 수정
  package.json
  vite.config.ts
  yarn.lock
Labels: 🐞 BugFix

#81 feat: TabIndicator 컴포넌트 개발
  src/components/atoms/TabIndicator/index.tsx
  src/components/atoms/TabIndicator/stories.ts
  src/components/atoms/TabIndicator/styled.ts
  src/components/atoms/index.ts
Labels: 🎨 Html&css, atom

#82 feat: Icon 컴포넌트 개발 완료
  src/components/atoms/Icon/BackIcon/index.tsx
  src/components/atoms/Icon/BackIcon/stories.ts
  src/components/atoms/Icon/BanIcon/index.tsx
  src/components/atoms/Icon/BanIcon/stories.ts
  src/components/atoms/Icon/BuyIcon/index.tsx
  src/components/atoms/Icon/BuyIcon/stories.ts
  src/components/atoms/Icon/ChatIcon/index.tsx
  src/components/atoms/Icon/ChatIcon/stories.ts
  src/components/atoms/Icon/HistoryIcon/index.tsx
  src/components/atoms/Icon/HistoryIcon/stories.ts
  src/components/atoms/Icon/HomeIcon/index.tsx
  src/components/atoms/Icon/HomeIcon/stories.ts
  src/components/atoms/Icon/KebabIcon/index.tsx
  src/components/atoms/Icon/KebabIcon/stories.ts
  src/components/atoms/Icon/LinkIcon/index.tsx
  src/components/atoms/Icon/LinkIcon/stories.ts
  src/components/atoms/Icon/LocationIcon/index.tsx
  src/components/atoms/Icon/LocationIcon/stories.ts
  src/components/atoms/Icon/MarketPriceIcon/index.tsx
  src/components/atoms/Icon/MarketPriceIcon/stories.ts
  src/components/atoms/Icon/MyLocationIcon/index.tsx
  src/components/atoms/Icon/MyLocationIcon/stories.ts
  src/components/atoms/Icon/MyPageIcon/index.tsx
  src/components/atoms/Icon/MyPageIcon/stories.ts
  src/components/atoms/Icon/NextIcon/index.tsx
  src/components/atoms/Icon/NextIcon/stories.ts
  src/components/atoms/Icon/NotificationIcon/index.tsx
  src/components/atoms/Icon/NotificationIcon/stories.ts
  src/components/atoms/Icon/PlusIcon/index.tsx
  src/components/atoms/Icon/PlusIcon/stories.ts
  src/components/atoms/Icon/SearchIcon/index.tsx
  src/components/atoms/Icon/SearchIcon/stories.ts
  src/components/atoms/Icon/SellIcon/index.tsx
  src/components/atoms/Icon/SellIcon/stories.ts
  src/components/atoms/Icon/XIcon/index.tsx
  src/components/atoms/Icon/XIcon/stories.ts
  src/components/atoms/Icon/index.ts
  src/components/atoms/Icon/styled.ts
Labels: atom

#84 feat: Icon 타입 추가
  src/types/icon.d.ts
Labels: atom

#79 feat: Badge 컴포넌트 개발 완료
  src/components/atoms/Badge/index.tsx
  src/components/atoms/Badge/stories.ts
  src/components/atoms/Badge/styled.ts
Labels: atom

#83 feat: Label 컴포넌트 개발 완료
  src/components/atoms/Label/index.tsx
  src/components/atoms/Label/stories.ts
  src/components/atoms/Label/styled.ts
Labels: atom

#80 feat: ImageUpload 컴포넌트 개발
  src/components/atoms/ImageUpload/index.tsx
  src/components/atoms/ImageUpload/stories.ts
  src/components/atoms/ImageUpload/styled.ts
Labels: atom

#85 feat: Input 컴포넌트 개발
  src/components/atoms/Input/index.tsx
  src/components/atoms/Input/stories.tsx
  src/components/atoms/Input/styled.ts
Labels: atom

#89 feat: Image 컴포넌트 개발
  public/default_img.png
  src/components/atoms/Image/index.tsx
  src/components/atoms/Image/stories.ts
  src/components/atoms/Image/styled.ts
  src/constants/imgPath.ts
Labels: atom

#88 fix: ESLint에 걸리던 App.tsx 수정
  src/App.tsx
Labels: 🐞 BugFix

#90 feat: LoginButton 컴포넌트 개발
  src/assets/LoginButton/kakao.svg
  src/assets/LoginButton/naver.svg
  src/components/atoms/Button/LoginButton/index.tsx
  src/components/atoms/Button/LoginButton/stories.ts
  src/components/atoms/Button/LoginButton/styled.ts
Labels: 🎨 Html&css, atom

#86 feat: Toast 컴포넌트 개발
  package.json
  src/components/atoms/Toast/ToastItem.tsx
  src/components/atoms/Toast/ToastManager.tsx
  src/components/atoms/Toast/index.tsx
  src/components/atoms/Toast/stories.tsx
  src/components/atoms/Toast/styled.ts
  src/components/atoms/index.ts
  src/hooks/index.ts
  src/hooks/useTimeout.ts
  src/hooks/useTimeoutFn.ts
  yarn.lock
Labels: atom

#91 feat: IconButton 컴포넌트 개발
  src/components/atoms/Button/IconButton/index.tsx
  src/components/atoms/Button/IconButton/stories.ts
  src/components/atoms/Button/IconButton/styled.ts
  src/components/atoms/index.ts
Labels: atom

#92 feat: TextButton 컴포넌트 개발
  src/components/atoms/Button/TextButton/index.tsx
  src/components/atoms/Button/TextButton/stories.ts
  src/components/atoms/Button/TextButton/styled.ts
  src/components/atoms/Button/index.ts
  src/components/atoms/TabIndicator/index.tsx
  src/components/atoms/Text/index.tsx
  src/components/atoms/index.ts
Labels: atom

#93 feat: Select 컴포넌트 개발
  package.json
  src/components/atoms/Button/index.ts
  src/components/atoms/Select/index.tsx
  src/components/atoms/Select/stories.tsx
  src/components/atoms/Select/styled.ts
  src/components/atoms/index.ts
  yarn.lock
Labels: 🎨 Html&css, atom

#96 feat: NavBarItem 컴포넌트 개발
  src/components/molecules/NavBarItem/index.tsx
  src/components/molecules/NavBarItem/stories.ts
  src/components/molecules/NavBarItem/styled.ts
Labels: molecule

#95 feat: LabeledInput 컴포넌트 개발
  src/components/atoms/Input/index.tsx
  src/components/atoms/Label/index.tsx
  src/components/atoms/index.ts
  src/components/molecules/LabeledInput/index.tsx
  src/components/molecules/LabeledInput/stories.tsx
  src/components/molecules/LabeledInput/styled.ts
  src/components/molecules/index.ts
Labels: molecule

#98 feat: LabeledSelect 컴포넌트 개발
  src/components/atoms/Label/index.tsx
  src/components/atoms/Select/index.tsx
  src/components/molecules/LabeledInput/index.tsx
  src/components/molecules/LabeledSelect/index.tsx
  src/components/molecules/LabeledSelect/stories.tsx
  src/components/molecules/LabeledSelect/styled.ts
  src/types/index.ts
  src/types/selectOption.d.ts
Labels: molecule

#97 feat: TabItem 컴포넌트 개발
  src/components/atoms/TabIndicator/index.tsx
  src/components/molecules/TabItem/index.tsx
  src/components/molecules/TabItem/stories.ts
  src/components/molecules/TabItem/styled.ts
Labels: molecule

#101 feat: RoundImageWithText 컴포넌트 개발
  src/components/atoms/Image/index.tsx
  src/components/atoms/Image/stories.tsx
  src/components/atoms/Image/styled.ts
  src/components/molecules/RoundImageWithText/index.tsx
  src/components/molecules/RoundImageWithText/stories.tsx
  src/components/molecules/RoundImageWithText/styled.ts
  src/constants/imgPath.ts
Labels: molecule

#106 feat: 컴파운드패턴 스토리북 적용
  src/components/molecules/IconWithText_Compound/index.tsx
  src/components/molecules/IconWithText_Compound/stories.tsx
Labels: 🔨 Refactor

#104 feat: TextDividerList 컴포넌트 개발
  src/components/atoms/Text/index.tsx
  src/components/molecules/TextDividerList/index.tsx
  src/components/molecules/TextDividerList/stories.ts
  src/components/molecules/TextDividerList/styled.ts
  src/index.css
Labels: molecule

#108 feat: day.js 설치 및 남은 시간 formatting 하는 함수 개발
  package.json
  src/App.tsx
  src/utils/dayFormatter.ts
  yarn.lock
Labels: ✨ Feature

#110 feat: InputWithButton 컴포넌트 개발
  src/components/molecules/InputWithButton/index.tsx
  src/components/molecules/InputWithButton/stories.tsx
  src/components/molecules/InputWithButton/styled.ts
Labels: molecule

#109 feat: UploadedImageCounter 컴포넌트 개발
  src/components/atoms/ImageUpload/index.tsx
  src/components/atoms/ImageUpload/stories.ts
  src/components/atoms/ImageUpload/styled.ts
  src/components/molecules/UploadedImageCounter/index.tsx
  src/components/molecules/UploadedImageCounter/stories.tsx
  src/components/molecules/UploadedImageCounter/styled.ts
Labels: molecule

#116 feat: AuctionTimer 컴포넌트 개발
  src/components/organisms/AuctionTimer/index.tsx
  src/components/organisms/AuctionTimer/stories.ts
  src/components/organisms/AuctionTimer/styled.ts
  src/utils/dayFormatter.ts
Labels: organism

#115 feat: Header 컴포넌트 개발
  src/components/atoms/Icon/DownIcon/index.tsx
  src/components/atoms/Icon/DownIcon/stories.ts
  src/components/atoms/Icon/index.ts
  src/components/molecules/IconWithText/index.tsx
  src/components/organisms/Header/index.tsx
  src/components/organisms/Header/stories.ts
  src/components/organisms/Header/styled.ts
Labels: organism

#118 feat: Profile 컴포넌트 개발
  src/components/organisms/Profile/index.tsx
  src/components/organisms/Profile/stories.ts
  src/components/organisms/Profile/styled.ts
Labels: organism

#117 feat: BottomNavBar 컴포넌트 개발
  .storybook/preview.ts
  .storybook/preview.tsx
  src/components/molecules/NavBarItem/index.tsx
  src/components/molecules/NavBarItem/stories.ts
  src/components/molecules/NavBarItem/styled.ts
  src/components/organisms/BottomNavBar/index.tsx
  src/components/organisms/BottomNavBar/stories.ts
  src/components/organisms/BottomNavBar/styled.ts
Labels: organism

#119 feat: SearchHistoryItem 컴포넌트 개발
  src/components/organisms/SearchHistoryItem/index.tsx
  src/components/organisms/SearchHistoryItem/stories.ts
  src/components/organisms/SearchHistoryItem/styled.ts
  src/components/organisms/index.ts
Labels: organism

#120 feat: TopBar 컴포넌트 개발
  package.json
  src/components/organisms/TopBar/index.tsx
  src/components/organisms/TopBar/stories.tsx
  src/components/organisms/TopBar/styled.ts
  vite.config.ts
  yarn.lock
Labels: organism

#121 feat: CategoryGrid 컴포넌트 개발
  src/components/molecules/IconWithText_legacy/index.tsx
  src/components/molecules/IconWithText_legacy/stories.ts
  src/components/organisms/CategoryGrid/index.tsx
  src/components/organisms/CategoryGrid/stories.ts
  src/components/organisms/CategoryGrid/styled.ts
Labels: organism

#122 feat: MyPageMenu 컴포넌트 개발
  src/components/organisms/MyPageMenu/index.tsx
  src/components/organisms/MyPageMenu/stories.ts
  src/components/organisms/MyPageMenu/styled.ts
  src/constants/myPageMenus.ts
  src/types/index.ts
  src/types/navMenu.d.ts
Labels: organism

#123 feat: BlockedUserItem 컴포넌트 개발
  src/components/organisms/BlockedUserItem/index.tsx
  src/components/organisms/BlockedUserItem/stories.ts
  src/components/organisms/BlockedUserItem/styled.ts
Labels: organism

#126 feat: ItemDetails 컴포넌트 개발
  src/components/organisms/ItemDetails/index.tsx
  src/components/organisms/ItemDetails/stories.ts
  src/components/organisms/ItemDetails/styled.ts
  src/utils/dayFormatter.ts
Labels: organism

#124 feat: NotificationList 컴포넌트 개발
  src/components/molecules/TextWithImage/styled.ts
  src/components/organisms/NotificationList/index.tsx
  src/components/organisms/NotificationList/stories.tsx
  src/components/organisms/NotificationList/styled.ts
  src/types/index.ts
  src/types/notification.d.ts
Labels: organism

#127 feat: PermissionList 컴포넌트 개발
  src/components/organisms/PermissionList/index.tsx
  src/components/organisms/PermissionList/stories.ts
  src/components/organisms/PermissionList/styled.ts
Labels: organism

#125 feat: NeighborhoodSelectionList 컴포넌트 개발
  src/components/organisms/NeighborhoodSelectionList/index.tsx
  src/components/organisms/NeighborhoodSelectionList/stories.ts
  src/components/organisms/NeighborhoodSelectionList/styled.ts
  src/constants/imgPath.ts
Labels: organism

#136 chore: Develop 브런치 Vercel 에 Storybook 연결 작업
  .github/workflows/deploy.yml
  build.sh
Labels: 🌏 Deploy

#135 chore: Lint 규칙 추가
  .eslintrc.cjs
  src/App.tsx
  src/components/molecules/IconWithText_legacy/index.tsx
  src/components/molecules/IconWithText_legacy/stories.ts
Labels: ⚙ Setting, 🐞 BugFix

#128 feat: SearchHistory 컴포넌트 개발
  src/components/organisms/SearchHistory/index.tsx
  src/components/organisms/SearchHistory/stories.ts
  src/components/organisms/SearchHistory/styled.ts
  src/components/organisms/SearchHistoryItem/styled.ts
Labels: organism

#137 feat: Map 컴포넌트 개발
  .gitignore
  package.json
  src/components/organisms/Map/index.tsx
  src/components/organisms/Map/stories.tsx
  src/components/organisms/Map/styled.ts
  src/components/organisms/index.ts
  src/hooks/index.ts
  src/hooks/useMap.ts
  src/main.tsx
  src/types/index.ts
  src/types/map.d.ts
  vite.config.ts
  yarn.lock
Labels: organism

#129 feat: BlockedUsersList 컴포넌트 개발
  src/components/organisms/BlockedUsersList/index.tsx
  src/components/organisms/BlockedUsersList/stories.ts
  src/components/organisms/BlockedUsersList/styled.ts
Labels: organism

#130 feat: ChatItem 컴포넌트 개발
  src/components/organisms/ChatItem/index.tsx
  src/components/organisms/ChatItem/stories.ts
  src/components/organisms/ChatItem/styled.ts
Labels: organism

#131 feat: PostImageItem 컴포넌트 개발
  src/components/organisms/PostImageItem/index.tsx
  src/components/organisms/PostImageItem/stories.ts
  src/components/organisms/PostImageItem/styled.ts
Labels: organism

#134 feat: Modal 컴포넌트 개발
  src/components/organisms/Modal/index.tsx
  src/components/organisms/Modal/stories.tsx
  src/components/organisms/Modal/styled.ts
Labels: organism

#140 feat: PostImageManager 컴포넌트 개발
  src/components/molecules/index.ts
  src/components/organisms/PostImageManager/index.tsx
  src/components/organisms/PostImageManager/stories.tsx
  src/components/organisms/PostImageManager/styled.ts
  src/components/organisms/index.ts
  src/types/image.d.ts
  src/types/index.ts
Labels: organism

#139 feat: PostItem 컴포넌트 개발
  src/components/organisms/AuctionTimer/index.tsx
  src/components/organisms/PostItem/index.tsx
  src/components/organisms/PostItem/stories.tsx
  src/components/organisms/PostItem/styled.ts
  src/hooks/index.ts
  src/hooks/useRemainingTimer.ts
Labels: organism

#144 feat: ChatMessage 컴포넌트 개발
  src/components/organisms/ChatMessage/index.tsx
  src/components/organisms/ChatMessage/stories.ts
  src/components/organisms/ChatMessage/styled.ts
  src/utils/dayFormatter.ts
Labels: organism

#143 feat: ChatList 컴포넌트 개발
  src/components/organisms/ChatItem/styled.ts
  src/components/organisms/ChatList/index.tsx
  src/components/organisms/ChatList/stories.ts
  src/components/organisms/ChatList/styled.ts
Labels: organism

#142 feat: CommentItem 컴포넌트 개발
  src/components/molecules/KebabMenu/styled.ts
  src/components/organisms/CommentItem/index.tsx
  src/components/organisms/CommentItem/stories.ts
  src/components/organisms/CommentItem/styled.ts
  src/hooks/useKebabMenuManager.ts
Labels: organism

#141 feat: ProfileRegistrationForm 컴포넌트 개발
  src/components/atoms/Button/IconButton/styled.ts
  src/components/atoms/Button/TextButton/styled.ts
  src/components/atoms/Icon/styled.ts
  src/components/organisms/ProfileRegistrationForm/index.tsx
  src/components/organisms/ProfileRegistrationForm/stories.tsx
  src/components/organisms/ProfileRegistrationForm/styled.ts
  src/types/index.ts
  src/types/user.d.ts
Labels: organism

#145 feature: ChatBubble 컴포넌트 개발
  src/components/organisms/ChatBubble/index.tsx
  src/components/organisms/ChatBubble/stories.ts
  src/components/organisms/ChatBubble/styled.ts
  src/components/organisms/ChatMessage/index.tsx
  src/components/organisms/ChatMessage/stories.ts
  src/components/organisms/index.ts
  src/types/chat.d.ts
  src/types/index.ts
Labels: organism

#147 feat: ChatMessages 컴포넌트 개발
  src/components/organisms/ChatMessages/index.tsx
  src/components/organisms/ChatMessages/stories.ts
  src/components/organisms/ChatMessages/styled.ts
Labels: organism

#150 feat: ModalBottomSheet 컴포넌트 개발
  src/components/molecules/ModalBottomSheet/index.tsx
  src/components/molecules/ModalBottomSheet/stories.tsx
  src/components/molecules/ModalBottomSheet/styled.ts
  src/components/molecules/index.ts
Labels: molecule

#151 feat: LocationInputBottomSheet 컴포넌트 개발
  src/components/organisms/LocationInputBottomSheet/index.tsx
  src/components/organisms/LocationInputBottomSheet/stories.tsx
  src/components/organisms/LocationInputBottomSheet/styled.ts
Labels: organism

#153 feat: MenuBottomSheet 컴포넌트 개발
  src/components/molecules/KebabMenu/index.tsx
  src/components/molecules/KebabMenu/stories.ts
  src/components/organisms/MenuBottomSheet/index.tsx
  src/components/organisms/MenuBottomSheet/stories.tsx
  src/components/organisms/MenuBottomSheet/styled.ts
  src/hooks/useKebabMenuManager.ts
  src/types/index.ts
  src/types/menu.d.ts
Labels: organism

#149 feat: AuctionControlBar 컴포넌트 개발
  src/components/organisms/AuctionControlBar/index.tsx
  src/components/organisms/AuctionControlBar/stories.tsx
  src/components/organisms/AuctionControlBar/styled.ts
  src/types/button.d.ts
  src/types/index.ts
Labels: organism

#148 feat: LocationPicker 컴포넌트 개발
  src/components/organisms/LocationPicker/index.tsx
  src/components/organisms/LocationPicker/stories.tsx
  src/components/organisms/LocationPicker/styled.ts
  src/components/organisms/NeighborhoodAuthForm/index.tsx
  src/components/organisms/NeighborhoodAuthForm/stories.tsx
Labels: organism

#155 feat: Comment 컴포넌트 개발
  src/components/organisms/Comment/index.tsx
  src/components/organisms/Comment/stories.ts
  src/components/organisms/Comment/styled.ts
  src/components/organisms/CommentItem/index.tsx
  src/components/organisms/index.ts
Labels: organism

#157 fix: Build 오류 수정
  src/components/atoms/Button/IconButton/index.tsx
  src/components/atoms/Button/IconButton/styled.ts
  src/components/organisms/ChatItem/index.tsx
  src/components/organisms/ChatOverview/index.tsx
  src/components/organisms/NeighborhoodAuthForm/index.tsx
  src/components/organisms/PostImageManager/index.tsx
  src/components/organisms/PostImageManager/stories.tsx
Labels: 🐞 BugFix
